<% @post.each do |p| %>
  <div class="card mb-3 mx-5">
    <div class="card-body">
      <p class="card-text"><small class="text-body-secundary">Posted by <%= p.user.name %></small></p>
      <h5 class="card-title"><%= p.title %></h5>
      <p class="card-text"><%= p.body %></p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
<% end %>
